<h1>Listing redeems</h1>

<table>
  <tr>
    <th>Deal</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @redeems.each do |redeem| %>
  <tr>
    <td><%= redeem.deal_id %></td>
    <td><%= redeem.email %></td>
    <td><%= link_to 'Show', redeem %></td>
    <td><%= link_to 'Edit', edit_redeem_path(redeem) %></td>
    <td><%= link_to 'Destroy', redeem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Redeem', new_redeem_path %>
