<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @deal.name %>
</p>

<p>
  <b>Price:</b>
  <%= @deal.price.round 2 %>
</p>

<p>
  <%= link_to 'Take it!', new_deal_redeem_url(@deal) %>
</p>


<%= link_to 'Edit', new_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
